<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Add To Zip File...</string>
			</dict>
			<key>NSMessage</key>
			<string>runWorkflowAsService</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSApplicationIdentifier</key>
				<string>com.apple.finder</string>
			</dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.directory</string>
				<string>public.symlink</string>
				<string>com.apple.mount-point</string>
				<string>public.text</string>
				<string>com.apple.ink.inktext</string>
				<string>com.apple.applescript.script</string>
				<string>public.object-code</string>
				<string>com.apple.mach-o-binary</string>
				<string>com.apple.pef-binary</string>
				<string>com.microsoft.windows-executable</string>
				<string>com.microsoft.windows-dynamic-link-library</string>
				<string>com.sun.java-class</string>
				<string>com.sun.java-archive</string>
				<string>om.apple.quartz-composer-composition</string>
				<string>org.gnu.gnu-tar-archive</string>
				<string>com.apple.binhex-archive</string>
				<string>com.apple.macbinary-archive</string>
				<string>public.url</string>
				<string>public.vcard</string>
				<string>public.image</string>
				<string>com.apple.txn.text-multimedia-data</string>
				<string>public.audiovisual-content</string>
				<string>com.apple.application-file </string>
				<string>public.cpio-archive</string>
				<string>com.apple.webarchive </string>
				<string>com.apple.flat-rtfd </string>
				<string>com.apple.alias-record </string>
				<string>com.apple.alias-file </string>
				<string>public.font</string>
				<string>com.apple.colorsync-profile</string>
				<string>com.adobe.pdf</string>
				<string>com.adobe.postscript</string>
				<string>com.microsoft.word.doc</string>
				<string>com.microsoft.excel.xls</string>
				<string>com.microsoft.powerpoint.ppt</string>
				<string>com.allume.stuffit-archive</string>
				<string>com.winzip.zip-archive</string>
				<string>public.zip-archive</string>
				<string>com.winzip.zipx-archive</string>
				<string>com.winzip.lha-archive</string>
				<string>public.archive.lha</string>
				<string>com.rarlab.rar-archive</string>
				<string>org.7-zip.7-zip-archive</string>
				<string>dyn.ah62d4rv4ge81u8u</string>
				<string>dyn.ah62d4rv4ge81k8d4</string>
				<string>dyn.ah62d4rv4ge81q4de</string>
				<string>dyn.ah62d4rv4ge81q5perq</string>
				<string>public.bzip2-archive</string>
				<string>public.tar-bzip2-archive</string>
				<string>org.gnu.gnu-zip-archive</string>
				<string>org.gnu.gnu-zip-tar-archive</string>
				<string>public.z-archive</string>
				<string>dyn.ah62d4rv4ge81k8u</string>
				<string>dyn.ah62d4rv4ge81k2p4</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
